<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="storeApp.boutique.home.createOrEditLabel"
          data-cy="BoutiqueCreateUpdateHeading"
          v-text="$t('storeApp.boutique.home.createOrEditLabel')"
        >
          Create or edit a Boutique
        </h2>
        <div>
          <div class="form-group" v-if="boutique.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="boutique.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.boutique.name')" for="boutique-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="boutique-name"
              data-cy="name"
              :class="{ valid: !$v.boutique.name.$invalid, invalid: $v.boutique.name.$invalid }"
              v-model="$v.boutique.name.$model"
            />
          </div>
          <div class="form-group">
            <label v-text="$t('storeApp.boutique.cooperative')" for="boutique-cooperative">Cooperative</label>
            <select
              class="form-control"
              id="boutique-cooperatives"
              data-cy="cooperative"
              multiple
              name="cooperative"
              v-if="boutique.cooperatives !== undefined"
              v-model="boutique.cooperatives"
            >
              <option
                v-bind:value="getSelected(boutique.cooperatives, cooperativeOption)"
                v-for="cooperativeOption in cooperatives"
                :key="cooperativeOption.id"
              >
                {{ cooperativeOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.boutique.utilisateur')" for="boutique-utilisateur">Utilisateur</label>
            <select class="form-control" id="boutique-utilisateur" data-cy="utilisateur" name="utilisateur" v-model="boutique.utilisateur">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  boutique.utilisateur && utilisateurOption.id === boutique.utilisateur.id ? boutique.utilisateur : utilisateurOption
                "
                v-for="utilisateurOption in utilisateurs"
                :key="utilisateurOption.id"
              >
                {{ utilisateurOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.boutique.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./boutique-update.component.ts"></script>
