<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="storeApp.cooperative.home.createOrEditLabel"
          data-cy="CooperativeCreateUpdateHeading"
          v-text="$t('storeApp.cooperative.home.createOrEditLabel')"
        >
          Create or edit a Cooperative
        </h2>
        <div>
          <div class="form-group" v-if="cooperative.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="cooperative.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.cooperative.name')" for="cooperative-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="cooperative-name"
              data-cy="name"
              :class="{ valid: !$v.cooperative.name.$invalid, invalid: $v.cooperative.name.$invalid }"
              v-model="$v.cooperative.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.cooperative.utilisateur')" for="cooperative-utilisateur"
              >Utilisateur</label
            >
            <input
              type="text"
              class="form-control"
              name="utilisateur"
              id="cooperative-utilisateur"
              data-cy="utilisateur"
              :class="{ valid: !$v.cooperative.utilisateur.$invalid, invalid: $v.cooperative.utilisateur.$invalid }"
              v-model="$v.cooperative.utilisateur.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.cooperative.directeurGeneral')" for="cooperative-directeurGeneral"
              >Directeur General</label
            >
            <input
              type="text"
              class="form-control"
              name="directeurGeneral"
              id="cooperative-directeurGeneral"
              data-cy="directeurGeneral"
              :class="{ valid: !$v.cooperative.directeurGeneral.$invalid, invalid: $v.cooperative.directeurGeneral.$invalid }"
              v-model="$v.cooperative.directeurGeneral.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.cooperative.societaire')" for="cooperative-societaire">Societaire</label>
            <input
              type="text"
              class="form-control"
              name="societaire"
              id="cooperative-societaire"
              data-cy="societaire"
              :class="{ valid: !$v.cooperative.societaire.$invalid, invalid: $v.cooperative.societaire.$invalid }"
              v-model="$v.cooperative.societaire.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.cooperative.cA')" for="cooperative-cA">C A</label>
            <input
              type="text"
              class="form-control"
              name="cA"
              id="cooperative-cA"
              data-cy="cA"
              :class="{ valid: !$v.cooperative.cA.$invalid, invalid: $v.cooperative.cA.$invalid }"
              v-model="$v.cooperative.cA.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.cooperative.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./cooperative-update.component.ts"></script>
