<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="storeApp.produit.home.createOrEditLabel"
          data-cy="ProduitCreateUpdateHeading"
          v-text="$t('storeApp.produit.home.createOrEditLabel')"
        >
          Create or edit a Produit
        </h2>
        <div>
          <div class="form-group" v-if="produit.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="produit.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.produit.name')" for="produit-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="produit-name"
              data-cy="name"
              :class="{ valid: !$v.produit.name.$invalid, invalid: $v.produit.name.$invalid }"
              v-model="$v.produit.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.produit.boutique')" for="produit-boutique">Boutique</label>
            <select class="form-control" id="produit-boutique" data-cy="boutique" name="boutique" v-model="produit.boutique">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="produit.boutique && boutiqueOption.id === produit.boutique.id ? produit.boutique : boutiqueOption"
                v-for="boutiqueOption in boutiques"
                :key="boutiqueOption.id"
              >
                {{ boutiqueOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.produit.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./produit-update.component.ts"></script>
