<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="storeApp.coursier.home.createOrEditLabel"
          data-cy="CoursierCreateUpdateHeading"
          v-text="$t('storeApp.coursier.home.createOrEditLabel')"
        >
          Create or edit a Coursier
        </h2>
        <div>
          <div class="form-group" v-if="coursier.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="coursier.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.coursier.utilisateur')" for="coursier-utilisateur">Utilisateur</label>
            <select class="form-control" id="coursier-utilisateur" data-cy="utilisateur" name="utilisateur" v-model="coursier.utilisateur">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  coursier.utilisateur && utilisateurOption.id === coursier.utilisateur.id ? coursier.utilisateur : utilisateurOption
                "
                v-for="utilisateurOption in utilisateurs"
                :key="utilisateurOption.id"
              >
                {{ utilisateurOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('storeApp.coursier.panier')" for="coursier-panier">Panier</label>
            <select class="form-control" id="coursier-panier" data-cy="panier" name="panier" v-model="coursier.panier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="coursier.panier && panierOption.id === coursier.panier.id ? coursier.panier : panierOption"
                v-for="panierOption in paniers"
                :key="panierOption.id"
              >
                {{ panierOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.coursier.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./coursier-update.component.ts"></script>
