<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="coursier">
        <h2 class="jh-entity-heading" data-cy="coursierDetailsHeading">
          <span v-text="$t('storeApp.coursier.detail.title')">Coursier</span> {{ coursier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('storeApp.coursier.utilisateur')">Utilisateur</span>
          </dt>
          <dd>
            <div v-if="coursier.utilisateur">
              <router-link :to="{ name: 'UtilisateurView', params: { utilisateurId: coursier.utilisateur.id } }">{{
                coursier.utilisateur.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('storeApp.coursier.panier')">Panier</span>
          </dt>
          <dd>
            <div v-if="coursier.panier">
              <router-link :to="{ name: 'PanierView', params: { panierId: coursier.panier.id } }">{{ coursier.panier.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="coursier.id" :to="{ name: 'CoursierEdit', params: { coursierId: coursier.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./coursier-details.component.ts"></script>
