<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="panier">
        <h2 class="jh-entity-heading" data-cy="panierDetailsHeading">
          <span v-text="$t('storeApp.panier.detail.title')">Panier</span> {{ panier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('storeApp.panier.produit')">Produit</span>
          </dt>
          <dd>
            <span v-for="(produit, i) in panier.produits" :key="produit.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'ProduitView', params: { produitId: produit.id } }">{{ produit.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('storeApp.panier.utilisateur')">Utilisateur</span>
          </dt>
          <dd>
            <div v-if="panier.utilisateur">
              <router-link :to="{ name: 'UtilisateurView', params: { utilisateurId: panier.utilisateur.id } }">{{
                panier.utilisateur.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="panier.id" :to="{ name: 'PanierEdit', params: { panierId: panier.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./panier-details.component.ts"></script>
